<h1>Pirate</h1>

<div class="pirate">
    <h3> Name: <%= @pirate.name %></h3>
    <h4>Weight: <%= @pirate.weight %> pounds</h4>
    <h4>Height: <%= @pirate.height %> inches</h4>
</div>

<br />

<h2>Ship(s)</h2>
<% @ships.each do |ship| %>
    <div class="ship">
        <p>Name: <%= ship.name %></p>
        <p>Type: <%= ship.type %></p>
        <p>Booty: <%= ship.booty %></p>
    </div>    
    <br />
<% end %>